<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829721446167-0m5b7rr5gc72pjd7b4nc5peko5vk3d43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829721446167-0m5b7rr5gc72pjd7b4nc5peko5vk3d43</string>
	<key>API_KEY</key>
	<string>AIzaSyDix9Kuv-3YkwCxKqVvp_hmAVvnp2cijZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>829721446167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JOB.File-Locker</string>
	<key>PROJECT_ID</key>
	<string>filelocker-94002</string>
	<key>STORAGE_BUCKET</key>
	<string>filelocker-94002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829721446167:ios:2b4ab37f18f166bfd59952</string>
</dict>
</plist>